<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>waiter</title>
	<link rel="stylesheet" href="css/waiter.css">
</head>
<body>
    <div class="container">
    <h1><u>Waiter Availability</u></h1>
			name

       <form action="/waiter" method="post">
    <input type="text" name="waiterName" class="nameEntered" placeholder="enter your name">
			<br><br>
            <div class='shifts'>
				<input type='checkbox' name='day' class='day' value="Monday">
				<span class='label-body'>Monday</span>
				<input type='checkbox' name='day' class='day' value="Tuesday">
				<span class='label-body'>Tuesday</span>
				<input type='checkbox' name='day' class='day' value="Wednesday">
				<span class='label-body'>Wednesday</span>
                <input type='checkbox' name='day' class='day' value="Thursday">
				<span class='label-body'>Thursday</span>
                <input type='checkbox' name='day' class='day' value="Friday">
				<span class='label-body'>Friday</span>
                <input type='checkbox' name='day' class='day' value="Saturday">
				<span class='label-body'>Saturday</span>
                <input type='checkbox' name='day' class='day' value="Sunday">
				<span class='label-body'>Sunday</span>

				<br><br>

			</div>
    </form>
    <div class='updateBtn'>
				<input type='submit' class='btn' value='Update shift'>
				{{!-- <a href="/delete"><button class="btn"type= 'button'>reset</button></a> --}}
	</div>
    
        <div class="addBtn ">
            <input type="submit" class="btn" value="Add shift">
        </div>
   
    
   
    </div>
</body>

</html>