<div class="container">
    
    Waiter Availability
     <br>
      <br>
    <form action="/" method="post">
        <span>name</span>
        <input type="text" name="name" class="names"></input>
        <button type="submit">Add</button>
    </form>
    <br>
    <br>
    <div>
        <button><a href="/waiters/:username">Waiters</a></button>
       
    </div>
</div>
