<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>greetings</title>
	<link rel="stylesheet" href="css/waiter.css">
</head>

<body>
	
<div class="container">
    
    Waiter Availability
     <br>
      <br>
    <form action="/" method="post">
        <span>PLEASE GO AND SELECT THE SHIFT YOU WANT TO WORK ON !</span>
        
    </form>
    <div class="img">
        <img src="../public/images/img.jpeg">
    </div>
    <br>
    <br>
    <div>
        <button><a href="/waiters/{{username}}">Waiters</a></button>
          <button><a href="/days">Admin</a></button>
       
    </div>
</div>
