<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>
    <div class="container bg-dark text-primary p-5">
    <div class="d-flex justify-content-center">
        <h1>Waiter Availability</h1>
    </div>
    <div class="d-flex justify-content-center p-4">
       <form action="/waiter" method="post">
        <label for="waiterName">Name: <input type="text" placeholder="enter your name" name="waiterName"> </label>
    </div>
    <div class="row d-flex justify-content-center ">
        <label for="mon" class="pl-5 px-3 ">Monday</label><input type="checkbox" name="" id="" class="checkbox">
        <label for="tue" class="pl-5 px-3">Tuesday</label><input type="checkbox" name="" id="" class="">
        <label for="wed" class="pl-5 px-3">Wednesday</label><input type="checkbox" name="" id="" class="">
        <label for="thurs" class="pl-5 px-3">Thursday</label><input type="checkbox" name="" id="" class="">
        <label for="fri" class="pl-5 px-3">Friday</label><input type="checkbox" name="" id="" class="">

    </div>
    </form>
    <div class="row mt-4 ">
        <form action="/" method="post"></form>
            <div class=" col-4  " >
            <input type="submit" class="btn btn-primary" value="Update shift">
        </div>
        <div class="col-sm  ">
            <input type="submit" class="btn btn-primary" value="Add shift">
        </div>
   
    </div>
    </div>
    </div>
</body>

</html>