
 
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
		<h2>Waiter Availability</h2>

{{#if message.info}}
		
				<h1> {{messages.info}}</h1>
			

			{{/if}}


			<form action="/back" method="GET">
			<button type="submit" class="btn">back</button>
			<button><a href="/">home</a></button>
			</form>
</body>

</html>

