<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>greetings</title>
    <link rel="stylesheet" href="css/waiter.css">
</head>

<body>

    <div class="container">

        {{!-- <h1 class="success"> {{messages.success}}</h1> --}}
        <h1>Mary' S Cafée~~~</h1>


        <h4 class="green">Enough Waiters</h4>
        <h4 class="orange">More Waiters are neede</h4>
        <h4 class="red">Too much waiters</h4>
        <button class="btn" type="submit">reset</button>
        {{!-- <form action="/days" method="POST"> --}}
        <table>
            <thead>
                <tr>
                    {{#each weekdays}}
                    <th>{{this.days}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each weekdays}}
                    <td>
                        {{#each waiter}}
                    <th>{{this.names}}</th>
                    {{/each}}
                    </td>
                    {{/each}}
                </tr>

            </tbody>
            {{!-- </form> --}}


    </div>
    </div>