<div class= 'row'>
<h1>waiter availability: </h1>
 <form action="/waiter" method="post">
    <input type="text" name="waiterName" class="nameEntered" placeholder="enter your name">
			<br><br>
            <div class='shifts'>
				<input type='checkbox' name='day' class='day' value="Monday">
				<span class='label-body'>Monday</span>
				<input type='checkbox' name='day' class='day' value="Tuesday">
				<span class='label-body'>Tuesday</span>
				<input type='checkbox' name='day' class='day' value="Wednesday">
				<span class='label-body'>Wednesday</span>
                <input type='checkbox' name='day' class='day' value="Thursday">
				<span class='label-body'>Thursday</span>
                <input type='checkbox' name='day' class='day' value="Friday">
				<span class='label-body'>Friday</span>
                <input type='checkbox' name='day' class='day' value="Saturday">
				<span class='label-body'>Saturday</span>
                <input type='checkbox' name='day' class='day' value="Sunday">
				<span class='label-body'>Sunday</span>

				<br><br>

			</div>
    </form>

	</div>