 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container ">
       
                <h1 class="text-light">PHELISA SHOP SPAZA</h1>
                      
            <form action="/waiters/:username" method="POST">
             
     
                {{#each weekday}}
                       <input type='checkbox' name='day' class='days' value="{{this.days}}">
				    <span class='label-body'>{{this.days}}</span>

{{/each}}
<button type="submit" class="btn" >submit</button>
<button><a href="/">back</a></button>
</form>
 </div>
    
</body>

</html>

