body {
	font-family: arial;
	color: black;
	
	font-size: 25px;
	background-image: url(../images/img.jpg);
 
}
.container{
	text-align: center;
	background-image: url(../images/img.jpg);
}
.error{    
    color: red;
	
}
.pass{
	color: green;
	background-color: orange;
    
}

  
  .btn{
	  margin: 00.5em;
	  width: 10em;
	  padding: 00.5em;
	  background-color: gold;
  }
  .green{
	  background-color: green;
	  font-size: 20px;

  }
  .red{
	font-size: 20px;
	background-color: red;
}
.orange{
	font-size: 20px;
	background-color: orange;
}
.container {
	margin: auto;
	width: 80%;
	

}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid black;
	text-align: left;
	padding: 8px;
  }
  
 
  
  input[type="text"] {
	width: 15em;
	padding: 0.5em;
  }
  
  input[type="submit"] {
	margin: 0.5em;
	width: 10em;
	padding: 0.5em;
	background-color: gold;
  }
 
  .info{
  	color: red;
  	margin-bottom: 1em;
  }

  