body {
	font-family: arial;
	color: black;
	background-color: pink;
	font-size: 27px;
	

  }
  .btn{
	  margin: 00.5em;
	  width: 10em;
	  padding: 00.5em;
	  background-color: gold;
  }
  .img{
	background-image: url(../images/img.jpeg);
	height : 300px;
	width: 300px;
}

.container {
	margin: auto;
	width: 80%;
	

}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid black;
	text-align: left;
	padding: 8px;
  }
  
 
  
  input[type="text"] {
	width: 15em;
	padding: 0.5em;
  }
  
  input[type="submit"] {
	margin: 0.5em;
	width: 10em;
	padding: 0.5em;
	background-color: gold;
  }
 
  .info{
  	color: red;
  	margin-bottom: 1em;
  }

  